In [ ]:
import pandas as pd
import numpy as np
  
df_test = pd.read_csv('data_golf_test.csv')  
df_train = pd.read_csv('data_golf_train.csv')    

print('Datos Train: \n', df_train)
print('Datos Test: \n', df_test.head)

Datos Train:
      Outlook  Temperature  Humidity  Windy Play
0      Sunny         30.5        90  False   No
1      Sunny         29.0        82   True   No
2   Overcast         28.2        95  False  Yes
3       Rain         21.0        86  False  Yes
4       Rain          5.3        60  False  Yes
5       Rain          8.8        63   True   No
6   Overcast          0.0        55   True  Yes
7      Sunny         17.0        80  False   No
8      Sunny          7.0        65  False  Yes
9       Rain         15.4        70  False  Yes
10     Sunny         16.0        59   True  Yes
11  Overcast         19.5        85   True  Yes
12  Overcast         31.0        55  False  Yes
13      Rain         20.0        88   True   No
Datos Test:
 <bound method NDFrame.head of   Outlook  Temperature  Humidity  Windy
0   Sunny           20        50  False
1   Sunny           30        50   True
2    Rain           10        60  False
3    Rain           20        60   True>

Implemente el Naïve Bayes Classifier. Para implementar el algoritmo, debe encontrar las probabilidades $P(x_j\vert C_i)$ $\forall i\in\{1,2\}$, $\forall j\in\{1,\ldots,n\}$. 
Para las variables categóricas, se deben encontrar las tablas de probabilidades condicionales, mientras que para las variables numéricas, debe asumir que $x_j\rvert C_i\sim \mathcal{N}(\mu,\sigma^2)$, y estimar $\mu$ y $\sigma$ para cada clase con los estimadores usuales.

In [ ]:
cond_outlook = df_train.groupby('Play')['Outlook'].value_counts() / df_train.groupby('Play')['Outlook'].count()
print('Probabilidad Condicional para el atributo Outlook: \n', cond_outlook)
print('\n\n')
cond_windy = df_train.groupby('Play')['Windy'].value_counts() / df_train.groupby('Play')['Windy'].count()
print('Probabilidad Condicional para el atributo Windy: \n', cond_windy)

Probabilidad Condicional para el atributo Outlook:
 Play  Outlook
No    Sunny       0.600000
      Rain        0.400000
Yes   Overcast    0.444444
      Rain        0.333333
      Sunny       0.222222
Name: Outlook, dtype: float64



Probabilidad Condicional para el atributo Windy:
 Play  Windy
No    True     0.600000
      False    0.400000
Yes   False    0.666667
      True     0.333333
Name: Windy, dtype: float64

In [ ]:
df_train_num = df_train[['Temperature', 'Humidity', 'Play']]

mean = df_train_num.groupby(['Play']).apply(np.mean)
print('La media muestral para Temperature y Humidity son, \n', df_train_num.groupby(['Play']).apply(np.mean))
print('\n')
print('La desviación estandar para Temperature y Humidity son, \n', df_train_num.groupby(['Play']).apply(np.std))

La media muestral para Temperature y Humidity son,
       Temperature  Humidity
Play
No      21.060000      80.6
Yes     15.933333      70.0


La desviación estandar para Temperature y Humidity son,
       Temperature   Humidity
Play
No        8.00090   9.541488
Yes       9.79172  14.149990

In [ ]:
df_test

  Outlook  Temperature  Humidity  Windy
0   Sunny           20        50  False
1   Sunny           30        50   True
2    Rain           10        60  False
3    Rain           20        60   True

In [ ]:
def densidad(x):

    media = df_train_num.groupby(['Play']).apply(np.mean)
    std = df_train_num.groupby(['Play']).apply(np.std)
    prob = (np.exp((-1/2)*((x-media)**2) / (2 * std))) / (np.sqrt(2 * np.pi * std))
    return prob
#print('La media muestral para Temperature y Humidity son, \n', df_train_num.groupby(['Play']).apply(np.mean))
#print('\n')
#print('La desviación estandar para Temperature y Humidity son, \n', df_train_num.groupby(['Play']).apply(np.std))

In [ ]:
densidad(x=20)

      Temperature      Humidity
Play
No       0.136174  2.103407e-43
Yes      0.083580  6.964665e-21

In [ ]:
X = df_train_num.iloc[:,0:-1] # X is the features in our dataset
y = df_train_num.iloc[:,-1]   # y is the Labels in our dataset

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB().fit(X_train, y_train) 

predicted_y = model.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score = accuracy_score(y_test, predicted_y) 
print (accuracy_score)

0.6